<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Emon's Blogs</title>

    <!-- google font link-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+HK&display=swap"
      rel="stylesheet"
    />
    <!--css stylesheet -->

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/material-scrolltop.css" />
  </head>

  <body>

    <!-- nav section start-->
    <nav class="navbar sticky-top color-section" id="nav-section">
      <div class="container-fluid">
        <div class="navbar-left" id="left-nev-items">
          <a class="nav-item" href="index.html">HOME</a>
          <a class="nav-item" href="about.html">ABOUT</a>
        </div>
        <div class="navbar-right" id="right-nev-items">
          <a href=""><i class="fab fa-linkedin"></i></a>
          <a href=""><i class="fab fa-instagram"></i></a>
          <a href=""><i class="fab fa-facebook"></i></a>
          <a href=""><i class="fab fa-whatsapp"></i></a>
          <a href=""><i class="fab fa-twitter"></i></a>
          <a href="" id="nav_subscribe">Subscribe</a>
        </div>
      </div>
    </nav>
</html>
