<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Tech Journal</title>
    <!-- google font link-->
    <!-- font-Roboto -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <!-- font-oxygen -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oxygen&display=swap" rel="stylesheet">

    <!--css stylesheet -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>

    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/about.css" />
    <link rel="stylesheet" href="/css/post.css" />
    <link rel="stylesheet" href="/css/compose.css" />
    <link rel="stylesheet" href="/css/material-scrolltop.css" />
    <link rel="icon" href="favicon.ico">
  </head>

  <body>

    <!-- nav section start-->
    <nav class="navbar sticky-top color-section" id="nav-section">
      <div class="container-fluid">
        <div class="navbar-left" id="left-nev-items">
          <a class="nav-item" href="/">Home</a>
          <a class="nav-item" href="/about">About</a>
          <a class="nav-item" href="/posts">Posts</a>
          <a class="nav-item" href="/compose">Compose</a>  <!-- it will be removed. -->
        </div>
        <div class="navbar-right" id="right-nev-items">
          <a href=""><i class="fab fa-linkedin"></i></a>
          <a href=""><i class="fab fa-instagram"></i></a>
          <a href=""><i class="fab fa-facebook"></i></a>
          <a href=""><i class="fab fa-whatsapp"></i></a>
          <a href=""><i class="fab fa-youtube"></i></a>
          <a href="" id="nav_subscribe" data-toggle="modal" data-target="#ModalCenter">Subscribe</a>
        </div>
      </div>
    </nav>
    <!-- subscription model pop up -->
          <div class="modal fade" id="ModalCenter" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content nav-subscribe-body">
                  <a type="button" id="close-button" class="close" data-dismiss="modal" aria-label="Close">×</a>
                    <h2>Subscribe to My Tech Journal</h2>
                    <h5>Get the latest posts delivered straight to your inbox!</h5>
                  <form action="/user-subscription" method="POST">
                    <input
                      type="text"
                      name="userEmail"
                      placeholder="youremail@example.com"
                      required
                      minlength="4"
                    />
                    <button type="submit">Subscribe</button>
                  </form>
                </div>
              </div>
          </div>
</html>
