<%- include("partials/header"); -%>

    <!-- about start-->
    <section class="color-section">
      <div class="about container-fluid">
        <h1>About</h1>
        <p>
          Naimur Rahman Emon is the CEO and co-founder of EmonTech. EmonTech is
          a platform for entrepreneurs, based out of Dhaka, with a vision of
          Moving Bangladesh forward. The Pathao super app has 12 different
          services and counting - from ride-sharing, food delivery, ecommerce,
          courier deliveries to digital services such as games and video
          streaming. With a team of over 500 people, Pathao is the largest tech
          company in Bangladesh, serving millions of customers every month.
          Hussain was born and raised in Dhaka, and completed his postgraduate
          degree from North South University, Bangladesh. He serves in the
          Advisory board of NSU Startups Next, an incubator created by his alma
          mater to promote tech startups.
        </p>
      </div>
    </section>
    <!-- about end -->
    <%- include("partials/footer"); -%>
