<%- include("partials/header"); -%>

    <!-- about start-->
    <section class="color-section">
      <h1 class="about-top-title">Trip Daily Official</h1>
      <div class="work-section container-fluid">
        <h2>Our Work:</h2>
        <p>
          We are Rashed and Emon. Adventurous and curious; pursuers of great travel experiences. We travel to destinations with a story to tell, seeking hidden gems, local specialties, off-the-beaten-track experiences, and jaw-dropping natural scenery. We’re drawn to the historical and political context that has shaped the lives of people and framed their collective culture. At Anywhere ,we provide detailed information, location guides and local insights to help travelers experience more adventurous destinations; to help them understand community, to relish culture and gain a unique and memorable travel perspective. In doing so, we hope to foster a richer understanding of others and build a better world, one journey at a time.
        </p>
      </div>
      <div class="team-section container-fluid">
        <h2>Meet Our Team:</h2>
        <div class="row">
        <div class="col-md-4 col-sm-12 col-xs-12">
            <div class="card h-100 team-body">
              <img
                src="image/fixed-image/emon.jpeg"
                class="team-image card-img-top"
                alt="..."
              />
              <div class="card-body">
                <p class="team-name" >Sheakh Naimur Rahman Emon</p>
                <p class="team-designation">CEO & founder</p>
              </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
            <div class="card h-100 team-body">
              <img
                src="image/fixed-image/title-image.jpg"
                class="team-image card-img-top"
                alt="..."
              />
              <div class="card-body">
                <p class="team-name" >Rashed Mamun</p>
                <p class="team-designation">Co-founder</p>
              </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
            <div class="card h-100 team-body">
              <img
                src="image/fixed-image/shakib.jpg"
                class="team-image card-img-top"
                alt="..."
              />
              <div class="card-body">
                <p class="team-name" >Md.Nazmus Shakib</p>
                <p class="team-designation">Developer</p>
              </div>
            </div>
        </div>
      </div>
    </div>

    </section>
    <!-- about end -->
    <%- include("partials/footer"); -%>
