<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Emon's Blogs</title>

    <!-- google font link-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+HK&display=swap"
      rel="stylesheet"
    />
    <!--css stylesheet -->

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/material-scrolltop.css" />
  </head>

  <body>
    <!-- nav section start-->
    <nav class="navbar sticky-top color-section" id="nav-section">
      <div class="container-fluid">
        <div class="navbar-left" id="left-nev-items">
          <a class="nav-item" href="index.html">HOME</a>
          <a class="nav-item" href="about.html">ABOUT</a>
        </div>
        <div class="navbar-right" id="right-nev-items">
          <a href=""><i class="fab fa-linkedin"></i></a>
          <a href=""><i class="fab fa-instagram"></i></a>
          <a href=""><i class="fab fa-facebook"></i></a>
          <a href=""><i class="fab fa-whatsapp"></i></a>
          <a href=""><i class="fab fa-twitter"></i></a>
          <a href="" id="nav_subscribe">Subscribe</a>
        </div>
      </div>
    </nav>
    <!-- about start-->
    <section class="color-section">
      <div class="about container-fluid">
        <h1>About</h1>
        <p>
          Naimur Rahman Emon is the CEO and co-founder of EmonTech. EmonTech is
          a platform for entrepreneurs, based out of Dhaka, with a vision of
          Moving Bangladesh forward. The Pathao super app has 12 different
          services and counting - from ride-sharing, food delivery, ecommerce,
          courier deliveries to digital services such as games and video
          streaming. With a team of over 500 people, Pathao is the largest tech
          company in Bangladesh, serving millions of customers every month.
          Hussain was born and raised in Dhaka, and completed his postgraduate
          degree from North South University, Bangladesh. He serves in the
          Advisory board of NSU Startups Next, an incubator created by his alma
          mater to promote tech startups.
        </p>
      </div>
    </section>
    <!-- about end -->
    <!-- footer start -->
    <!-- footer start-->
    <footer class="footer color-section">
      <a class="footer-icon" href=""><i class="fab fa-linkedin"></i></a>
      <a class="footer-icon" href=""><i class="fab fa-whatsapp"></i></a>
      <a class="footer-icon" href=""><i class="fab fa-facebook-f"></i></a>
      <a class="footer-icon" href=""><i class="fab fa-instagram"></i></a>
      <a class="footer-icon" href=""><i class="fab fa-twitter"></i></a>
      <br />
      <div class="footer-text">
        <p>Emon's Blog©2021</p>
        <p>| develop by <a href="">Md Nazmus Shakib</a></p>
      </div>
      <button class="material-scrolltop" type="button">
        <span>↑</span>
      </button>
    </footer>
    <!-- footer end-->
    <!--font awesome-->
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"
    ></script>

    <!-- bootstrap scripts -->

    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <script src="js/jquery-3.4.0.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/"></script>
    <script src="js/material-scrolltop.js"></script>
    <script src="js/custom.js"></script>
  </body>
</html>
