<%- include("partials/header"); -%>

    <!-- about start-->
    <section class="color-section">
      <div class="team-section container-fluid">
        <div class="row">
        <div class="col-12">
            <div class="card h-100 team-body">
              <img
                src="image/fixed-image/title-image.jpg"
                class="team-image card-img-top"
                alt="..."
              />
              <div class="card-body">
                <a href=""><i class="team-icon fab fa-linkedin"></i></a>
                <a href=""><i class="team-icon fab fa-instagram"></i></a>
                <a href=""><i class="team-icon fab fa-youtube"></i></a>
                <p class="team-name">Md.Nazmus Shakib</p>
                <p class="team-designation">Web Developer</p>
                <p class="team-intro">I'm a passionate web developer. I specialize in MERN stack and have experience working with technologies like JavaScript, Next.js, Express.js, MongoDB (for database), Firebase authentication systems, npm packages and Git workflow. I have a thing for good-looking lightly animated websites.</p>
              </div>
            </div>
        </div>
      </div>
    </div>
    </section>
    <!-- about end -->
    <%- include("partials/footer"); -%>
