<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Emon's Blogs</title>

    <!-- google font link-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+HK&display=swap"
      rel="stylesheet"
    />
    <!--css stylesheet -->

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/post.css" />
    <link rel="stylesheet" href="css/material-scrolltop.css" />
  </head>

  <body>
    <!-- nav section start-->
    <nav class="navbar sticky-top color-section" id="nav-section">
      <div class="container-fluid">
        <div class="navbar-left" id="left-nev-items">
          <a class="nav-item" href="index.html">HOME</a>
          <a class="nav-item" href="about.html">ABOUT</a>
        </div>
        <div class="navbar-right" id="right-nev-items">
          <a href=""><i class="fab fa-linkedin"></i></a>
          <a href=""><i class="fab fa-instagram"></i></a>
          <a href=""><i class="fab fa-facebook"></i></a>
          <a href=""><i class="fab fa-whatsapp"></i></a>
          <a href=""><i class="fab fa-twitter"></i></a>
          <a href="" id="nav_subscribe">Subscribe</a>
        </div>
      </div>
    </nav>
    <!-- post start-->
    <section class="color-section">
      <div class="post container-fluid">
        <p class="post-category">Personal</p>
        <h1 class="post-title">Build in Bangladesh, For the World</h1>
        <img
          class="post-img"
          src="image/mid img/laptop-1035345_640.jpg"
          alt=""
        />
        <p class="post-text">
          A lot of our Bangladeshi startups are focused on building apps for the
          Bangladeshi market - as they should. Bangladesh is still at an early
          technology curve, and there are huge opportunities both in bringing in
          proven business models in the country, as well as finding local
          solutions to local problems. But one place where I feel that we often
          miss, is the huge upside of creating SaaS softwares locally, for the
          international market. There are many who are trying to build consumer
          subscription businesses in Bangladesh. But none are yet to take off.
          And that is simply because of two simple reasons: Payments are not
          easy - No ApplePay, GooglePay, low credit/debit card penetration.
          Local cards cannot automatically pull money out of cards, restricting
          automated subscriptions. We have been spoilt by free software. Growing
          up - I never had to pay for software or media. BitTorrent and Pirated
          CDs > going through the arduous process of licensing an actual
          software I have strong belief that these are industry trends that will
          be changing over time, but I don’t see these barriers simply going
          away in the next couple years. <br />India has had huge success in
          building international pure-play SaaS startups. FreshWorks and Zoho
          comes to mind. There is an unfair advantage that they will have
          compared to any of their Silicon Valley peers;- Labour Arbitrage. Like
          India, Bangladesh has amazing and underpriced talent. Every line of
          code we have in Pathao, has been written in Bangladesh, by Bangladeshi
          engineers. Over the last 6 years, our technology has allowed us to
          continuously compete with multiple major international players and
          outperform them through execution. This gives me a lot of faith in the
          tech talent of this country. Source: “Shaping India’s SaaS Landscape”
          – a $1-trillion tryst with destiny for Indian SaaS startups // Manav
          Garg The unfair advantage comes in play as soon as you are earning in
          dollars (revenue) and still pay for the talent in taka (salary). If we
          can even provide 80% of the quality of a keystone product, while
          charging 50% the price - I believe we will be surprised by the number
          of customers that it can attract. In fact we are already doing the
          same when foreign companies set up a dev shop over here, or outsource
          their tech needs to Bangladesh. This proves the point that we have the
          talent. What we sometimes lack, however, is the vision and the
          courage. There are hundreds of dev teams scattered across the country
          doing outsourced work for foreign clients, but very few are building
          their own products. Either we are locked in a scarcity mindset, or are
          afraid of failure. This needs to change. It has never been easier to
          build an MVP and get the first 100 customers. We do not need to
          artificially limit ourselves just by the geography of where we are
          born. Startups like Instant, Alice or Apploye are showing the path -
          and others will need to take their lessons to heart. It’s time to look
          outwards. Let’s build for the world.
        </p>
      </div>
      <div class="more-post">
        <h5>More in "PERSONAL":</h5>
        <a href="">Lessons from: Is Tomorrow Hartal?</a>
        <a href="">Lessons from: Is Tomorrow Hartal?</a>
        <a href="">Lessons from: Is Tomorrow Hartal?</a>
      </div>
    </section>

    <!-- post end -->
    <!-- footer start -->
    <!-- footer start-->
    <footer class="footer color-section">
      <a class="footer-icon" href=""><i class="fab fa-linkedin"></i></a>
      <a class="footer-icon" href=""><i class="fab fa-whatsapp"></i></a>
      <a class="footer-icon" href=""><i class="fab fa-facebook-f"></i></a>
      <a class="footer-icon" href=""><i class="fab fa-instagram"></i></a>
      <a class="footer-icon" href=""><i class="fab fa-twitter"></i></a>
      <br />
      <div class="footer-text">
        <p>Emon's Blog©2021</p>
        <p>| develop by <a href="">Md Nazmus Shakib</a></p>
      </div>
      <button class="material-scrolltop" type="button">
        <span>↑</span>
      </button>
    </footer>
    <!-- footer end-->
    <!--font awesome-->
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"
    ></script>

    <!-- bootstrap scripts -->

    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <script src="js/jquery-3.4.0.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/"></script>
    <script src="js/material-scrolltop.js"></script>
    <script src="js/custom.js"></script>
  </body>
</html>
