<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Thank you!!</title>
    <!-- Bootstrap core CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="jumbotron jumbotron-fluid alert alert-success">
      <div class="container">
        <h1 class="display-4">Thanks for choosing us!</h1>
        <p class="lead">You are succesfully subscribed.</p>
        <form action="/success" method="post">
          <button class="btn btn-lg btn-warning" type="submit" name="button">
            Go Back
          </button>
        </form>
      </div>
    </div>
  </body>
</html>
