.single-post {
  padding: 5% 16%;
  color: #cbcbcb;
}
.single-post-category {
  font-size: 12px;
  font-weight: 800;
  margin-bottom: 5px;
  color: #ea8d00;
  text-align: left;
}
.single-post-title {
  text-align: left;
  border-bottom: 1px solid #898686;
  padding-bottom: 10px;
  color: #cbcbcb;
}
.single-post-image {
  margin: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: auto;
}
.single-post-text {
  text-align: justify;
  font-size: 18px;
  line-height: 2rem;
  color: #cbcbcb;
}
.single-post-text p img {
  width: 50%;
  height: auto;
  padding: 10px;
}

@media only screen and (max-width: 600px) {
  .single-post {
    padding: 5% 7%;
  }
  .single-post-image {
    width: 70%;
  }
  .single-post-text p img {
    width: 70%;
  }
}

@media only screen and (max-width: 766px) {
  .single-post {
    padding: 5% 8%;
  }
  .single-post-image {
    width: 60%;
  }
  .single-post-title {
    font-size: 2rem;
  }
  .single-post-text p img {
    width: 60%;
  }
}
@media only screen and (max-width: 425px) {
  .single-post {
    text-align: center;
    padding: 5% 8%;
  }
  .single-post-image {
    margin: 10px;
    width: 90%;
  }
  .single-post-text {
    font-size: 14px;
  }
  .single-post-title {
    font-size: 1.5rem;
  }
  .single-post-text p img {
    width: 90%;
  }
}
.more-post {
  padding: 2% 16%;
  position: relative;
}
.more-post h3 {
  margin-bottom: 2rem;
  color: #929eaa;
}
.single-more-post img {
  width: 22%;
  height: auto;
  margin-bottom: 20px;
}
.more-post a {
  font-size: 2rem;
  color: #17a2b8;
  margin-left: 5px;
  position: absolute;
  padding-right: 16%;
}
.more-post a:hover {
  text-decoration: none;
  color: #ea8d00;
}
@media only screen and (max-width: 766px) {
  .more-post h3 {
    font-size: 22px;
  }
  .more-post {
    padding: 2% 8%;
  }
  .single-more-post img {
    width: 30%;
  }
  .more-post a {
    font-size: 25px;
    padding-right: 8%;
  }
}
@media only screen and (max-width: 425px) {
  .more-post a {
    font-size: 18px;
    padding-right: 8%;
  }
}
